spring:
  application:
    name: springbootPostgresql

  datasource:
    url: jdbc:postgresql://<YOUR_DB_URL>
    username: --YOUR-USERNAME--
    password: --YOUR-PASSWORD--
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

server:
  port : 5000